* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-color: blue;
}

.header
{
	margin: auto;
	display: block;
	width:100%;
	text-align: center;
}

.nav
{
	display: block;
	overflow: hidden;
	text-align: center;
}

.banner
{

}

.main_content
{

}

.footer
{

}