body
{
	margin:0;
}

.header
{
	margin: auto;
	display: block;
	width:100%;
	text-align: center;
}

.nav
{
	display: block;
	overflow: hidden;
	text-align: center;
}

.banner
{

}

.main_content
{

}

.footer
{

}